.wrapper{
  left: 50%;
  /* transform: translateX(-50%); */
  transition: transform 1s;
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column; 
  height: 50%;
}
.game-setup-widget {
  /* left: 50%;
  transform: translateX(-50%);
  transition: transform 1s; */
  position: relative;
  display: flex;
  justify-content: center;
}



.name-input-box {
  padding: 1ch;
  text-align: center;
  font-family: wilde-party-font;
  font-size: 30px;
  border-radius: 30px;
  box-shadow: 4px 5px 0px black;
  background-color: white;
  color: black;
  border: thin black solid;
  padding: 20px 15px 10px 15px;
  text-align: center;
}

.name-input {
  height: 5ch;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  background-color: white;
  font-size: 20px;
  font-family: wilde-party-font;
  text-align: center;


  
}

.button {
  width: 15ch;
  font-family: wilde-party-font;
  font-size: 35px;
  border-radius: 30px;
  box-shadow: 4px 5px 0px black;
  background-color: white;
  color: #f9ca44;
  border: thin black solid;
  padding: 20px 15px 10px 15px;
  text-align: center;

  transition: 1s;
  left: 50vw;
  transform: translateX(-50%);
  position: absolute;
  cursor: pointer;
}

@keyframes pulse {
  0% {
    -webkit-transform: translate(-50%) scale(1, 1);
  }
  50% {
    -webkit-transform: translate(-50%) scale(0.95, 0.95);
  }
  100% {
    -webkit-transform: translate(-50%) scale(1, 1);
  }
}

.button.pulsing {
  animation: pulse 1s infinite;
}


.button.offscreen-top {
  transform: translate(-50%, -100vh);
  transition: 1000ms;
}

.button.offscreen-bottom {
  transform: translate(-50%, 100vh);
  transition: 1000ms;
}

.available-game-button{
  /* height: 2ch; */
  text-align: center;
  font-family: wilde-party-font;
  font-size: 20px;
  border-radius: 5ch;
  box-shadow: 4px 5px 0px black;
  background-color: white;
  padding: 20px 15px 10px 15px;
  transition-property: transform;
  transition-duration: 1000ms;
  cursor: pointer;
}
.available-game-button.selected{
  transform: scale(1.3);
  z-index: 1;
}


