.wrapper {
  left: 50%;
  /* transform: translateX(-50%); */
  transition: transform 1s;
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 50%;
}
.game-setup-widget {
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
  transition: transform 1s;
  position: absolute;
  display: flex;
  justify-content: center;
}

.name-input-box {
  padding: 1ch;
  text-align: center;
  font-family: wilde-party-font;
  font-size: 30px;
  border-radius: 30px;
  box-shadow: 4px 5px 0px black;
  background-color: white;
  color: black;
  border: thin black solid;
  padding: 20px 15px 10px 15px;
  margin: 20px 15px 10px 15px;
  text-align: center;
}

.name-input {
  height: 5ch;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  background-color: white;
  font-size: 20px;
  font-family: wilde-party-font;
  text-align: center;
}

.button {
  width: 15ch;
  font-family: wilde-party-font;
  font-size: 35px;
  border-radius: 30px;
  box-shadow: 4px 5px 0px black;
  background-color: white;
  color: #f9ca44;
  border: thin black solid;
  padding: 20px 15px 10px 15px;
  text-align: center;

  transition: 1s;
  position: relative;
  cursor: auto;
}

.button.clickable {
  cursor: pointer;
}
.button.plain {
  border: none;
  background-color: transparent;
  color: black;
  box-shadow: none;
}

.button:hover {
transform: scale(1.1);
}

@keyframes pulse {
  0% {
    -webkit-transform: translate(-50%) scale(1, 1);
  }
  50% {
    -webkit-transform: translate(-50%) scale(0.95, 0.95);
  }
  100% {
    -webkit-transform: translate(-50%) scale(1, 1);
  }
}

.button.pulsing {
  animation: pulse 1s infinite;
}

.button.offscreen-top {
  transform: translateY(-100vh);
  transition: 1000ms;
}

.button.offscreen-bottom {
  transform: translate(-50%, 100vh);
  transition: 1000ms;
}

.button.raised-left {
  transform: translate(-50%, -10vh);
  transition: 1000ms;
}

.button.raised-right {
  transform: translate(50%, -10vh);
  transition: 1000ms;
}

.button a {
  text-decoration: none;
}


.game-setup-avatar {
  clip-path: circle();
  border: solid black 0.7ch;
  border-radius: 100%;
  height: 16ch;
  /* background-color: lightpink ; */
  background-image: linear-gradient(to bottom right, red, yellow);
}
.game-setup-avatar.center {
  height: 19ch;
}
