.available-games-scrollable {
  display: flex;
  /* flex-direction: column; */
  gap: 4ch;
  overflow-x: scroll;
  /* min-height: 15vh; */
  /* max-height: 25vh; */
  width: 70vw;
  padding: 0 15vw 0 15vw;
  box-shadow: inset 1px 0px 6px 3px transparent;
  border-radius: 1ch;
  -webkit-mask-image: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 0), 5vw, rgba(0, 0, 0, 1), 95vw, rgba(0,0,0,0));
  mask-image: linear-gradient(90deg, rgba(0, 0, 0, 0), 5vw, rgba(0, 0, 0, 1), 95vw, rgba(0,0,0,0));
}

.available-game-card {
  width: 30ch;
  text-align: center;
  font-size: 20px;
  border-radius: 0.7ch;
  border: black 0.4ch solid;
  box-shadow: 4px 5px 0px grey;
  background-color: #ffffff;
  /* padding: 20px 15px 10px 20px; */
  padding-top: 1ch;
  transition-property: transform;
  transition-duration: 1000ms;
  cursor: pointer;
  display: grid;
  grid-row-gap: 1ch;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  margin: 0 auto;
  margin-top:20px;
}
.available-games-scrollable > * {
  font-family: wilde-party-font;

}

.available-game-card.selected {
  transform: scale(1.3);
  z-index: 1;
}

.available-game-card .party-name {
  grid-column: span 3;
}

.available-game-avatar {
  clip-path: circle();
  /* border: solid black 0.2ch; */
  border-radius: 100%;
  height: 6ch;
  width: 6ch;

  /* background-color: lightpink ; */
  background-image: linear-gradient(to bottom right, red, yellow);
}
.available-game-card.avatar-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.available-game-card .avatar-column p {
  font-size: small  ;
}

.avatar-row {
  font-size: medium;
  width: 100%;
}

.which-party-title {
text-align: center ;
font-family: wilde-party-font;
padding: 2ch}