html,
body,
#root {
  height: 100%;
  margin: 0;
}
.full-height {
  height: 100%;
}

body {
  background-image: url(background_tile.jpg);
  background-repeat: repeat;
  background-size: 130px;

  /*this prevents scrolling*/
  overflow-y: hidden;
  overflow-x: hidden;
}

.banner {
  position: relative;
  z-index: 10;
  transition: 3s;
  background-image: url("splashscreen.jpg") ;
  background-size: cover;
}

.banner.off-screen {
  transform: translateX(100%);
}

.flying-button {
  transition: 1.5s;
  left: 50vw;
  transform: translateX(-50%);
  position: absolute;
}

.flying-button.off-screen-top {
  transform: translate(-50%, -50vh);

}

.test{
  height: 100px;
  width: 30ch;
  background-color: aqua;
  position: absolute;
  left: 50vw;
  transform: translateX(-50%);
}

.flying-button.off-screen-bottom {
  transform: translate(-50%, 100vh);
}

.horizontal-flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
}

.vertical-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  /* justify-content: space-around; */
  justify-content: center;
}

.justify-content-end {
  justify-content: end;
}

.justify-content-start {
  justify-content: start;
}

.screen-behind {
  position: absolute;
  z-index: 1;
}

div {
  /* margin: 0px; */
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.table {
  padding: 20px;
}

@font-face {
  font-family: wilde-party-font;
  src: url("Grandstander-clean.otf");
}

.player-grid {
  border: red solid 2px;
}

.place-grid {
  border: black solid 1px;
}
.hand-grid {
  border: blue solid 1px;
}
